.button{
	display:block;
	width:45%;
	margin:10px auto 10px auto;
	border-style: dashed;
	border-radius: 15px;
	border-color: red;
	background-color: lightgreen;
}

.divStyle{
	text-align: center;
	width:100%;
	background-color: lightgreen;
	border-radius: 10px;
}

.displayElement{
	display:block;
}

.inputText{
	text-align: center;
	width:35%;
	margin:10px 10px 10px 10px;
	border-style: dashed;
	border-radius: 15px;
	border-color: red;
	background-color: lightgreen;
}

#results{
	text-align: center;
	width:100%;
	border-style: dashed;
	border-radius: 15px;
	border-color: red;
	background-color: lightgreen;
}

.raw{
	float:right;
}

#select1{
	text-align: center;
	width:20%;
	margin: 10px auto 10px auto;
	border-style: dashed;
	border-radius: 15px;
	border-color: red;
	background-color: lightgreen;
}

#input1{
	float:left;
}

#input2{
	float:right;
}
